@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'arialic_hollowregular';
    src: url('../font/arialicFont/arialic_hollow-webfont.woff2') format('woff2'),
         url('../font/arialicFont/arialic_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
    overflow-x: hidden;
  }

body {
    position: static;
    font-family: 'Inter', sans-serif, Courier, monospace !important;
}

h1,
h2 {
    font-weight: 700;
    font-family: 'Inter';
}

.purpleGradient {
    background: -webkit-linear-gradient(left, #ecbfff, #8B00FF);
    background: -o-linear-gradient(right, #ecbfff, #8B00FF);
    background: -moz-linear-gradient(right, #ecbfff, #8B00FF);
    background: linear-gradient(to right, #ecbfff, #8B00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purpleGradient-inverted {
    background: -webkit-linear-gradient(right, #ecbfff, #8B00FF);
    background: -o-linear-gradient(left, #ecbfff, #8B00FF);
    background: -moz-linear-gradient(left, #ecbfff, #8B00FF);
    background: linear-gradient(to left, #ecbfff, #8B00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-purpleGradient {
    background: rgb(179, 0, 255);
    background: -moz-linear-gradient(90deg, rgba(179, 0, 255, 1) 0%, rgba(220, 136, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(179, 0, 255, 1) 0%, rgba(220, 136, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(179, 0, 255, 1) 0%, rgba(220, 136, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b300ff", endColorstr="#dc88ff", GradientType=1);
}

.purpleGradient-Vertical {
    background: -webkit-linear-gradient(bottom, #d3c0db, #ffffff);
    background: -o-linear-gradient(top, #d3c0db, #ffffff);
    background: -moz-linear-gradient(top, #d3c0db, #ffffff);
    background: linear-gradient(top, #d3c0db, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1800px) {
    .separator {
    height: 15em !important;
}
}
@media (max-width: 1200px) {
    .separator {
    height: 10em !important;
}
}
@media (max-width: 9000px) {
    .separator {
    height: 8em !important;
}
}


.bg-dark {
    background-color: #0e0e0e !important;
}

.bg-purple {
    background: #8B00FF !important;
}

.no-shadow-hover:hover {
    box-shadow: none !important;
}


#top-navbar a:hover {
    color: #8B00FF !important;
}

.card {
    background: none !important;
}

.min-vh-80{
    height: 80vh;
}

#presentation {
  text-align:center;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

#presentation .h1 {
    font-size: 9em;
    font-weight: 700;
    letter-spacing: -.3rem;
    line-height: 0.8;
}

#text-effect {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    animation: showup 7s 1;
}

#text-effect-2 {
    transform: translateY(-25px);
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    width:auto;
    height: 0px;
    animation: reveal 7s 1 forwards;
}

#text-effect-2 span {
    line-height: 1.2em;
    margin-top:-355px;
     animation: slidein 7s 1 forwards;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-top:-800px; }
    20% { margin-top:-800px; }
    35% { margin-top:0px; }
    100% { margin-top:0px; }
}

@keyframes reveal {
    0% {opacity:0;height:0px;}
    20% {opacity:1;height:0px;}
    30% {height:1.2em;}
    80% {opacity:1;height:1.2em;}
    100% {opacity:1;height:1.2em;}
}

#presentation .h3 {
    color: #c8b5c8 !important;
    transform: translateY(-38px);
}

#presentation a {
    position: absolute;
    bottom: 0;
    font-size: 2em;
}

#presentation a:hover {
    color: #8B00FF !important;
    transform: translateY(10px);
    transition: 1s all ease;
}

/* Small devices (landscape phones, 576px and up) */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #presentation .h1 {
        font-size: 2em; /* adjust as needed */
    }
    #presentation .h3 {
        font-size: 0.5em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #presentation .h1 {
        font-size: 3em; /* adjust as needed */
    }
    #presentation .h3 {
        font-size: 1.5em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #presentation .h1 {
        font-size: 4em; /* adjust as needed */
    }
}

@media (min-width: 1900px) {
    #presentation .h1 {
        font-size: 6em; /* adjust as needed */
    }
}


#servicesPlus .card {
    border: none;
}

#servicesPlus button:hover {
    color: #8B00FF;
}

#servicesPlus button {
    background: none !important;
    border: none !important;
    color: white;

}

#servicesPlus .card-text {
    display: none;
}

.background-div {
    position: relative;
}

.rect {
    background-color: black;
    width: 100%;
    /* Vous pouvez ajuster la largeur */
    height: 100%;
    /* Vous pouvez ajuster la hauteur */
    position: absolute;
    margin: 0 auto;
    /* Centrer le rectangle */
}

.rect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(212, 212, 212, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(212, 212, 212, 0.5) 1px, transparent 1px),
        linear-gradient(to right, transparent, transparent 50%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(to bottom, transparent, transparent 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 100px 100px, 100px 100px, 100% 100%, 100% 100%;

}

.rect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent, #030005);
}

#services {
    background-color: #030005;
}


#service1Carousel .carousel-item,
#service2Carousel .carousel-item {
    height: 500px;
}

#services h2 {
    font-weight: 700;
}

@media (min-width: 768px) {
     #services h2 {
         font-size: 2em;
     }
}

@media (min-width: 992px) {
    #services h2 {
         font-size: 3em;
     }
}

@media (min-width: 1200px) {
    #services h2 {
         font-size: 4em;
     }
}

@media (min-width: 2000px) {
    #services h2 {
         font-size: 5em;
     }
}

#service1Carousel h2:nth-child(1) {
    tab-size: 1;
}

#service1Carousel h2:nth-child(2) {
    tab-size: 5;
}

#servicesCarousel .carousel-item {
    height: 700px;
}

#social_media img {
    position: relative;

}
@media (min-width: 768px) {
    #social_media img {
         right: -50px;
         bottom: 0px;
     }
}

@media (min-width: 992px) {
    #social_media img {
         right: -50px;
         bottom: -50px;
     }
}

@media (min-width: 1200px) {
    #social_media img {
         right: -150px;
         bottom: -100px;
     }
}

@media (min-width: 2000px) {
     #social_media img {
         right: -350px;
         bottom: -150px;
     }
}

#gbusiness img {
    position: relative;

}

@media (min-width: 768px) {
    #gbusiness img {
         left: 0px;
         top: 0px;
     }
}

@media (min-width: 992px) {
    #gbusiness img {
         left: -50px;
         top: 0px;
     }
}

@media (min-width: 1200px) {
    #gbusiness img {
         left: -150px;
         top: -50px;
     }
}

@media (min-width: 2000px) {
     #gbusiness img {
         left: -250px;
         top: -100px;
     }
}

.ServicesContainer {
    position: relative;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}

.ServicesContainer .box {
    position: relative;
    transition: 0.5s;
    background-color: #030005;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}

@media (min-width: 768px) {
    .ServicesContainer .box {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 992px) {
    .ServicesContainer .box {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 1200px) {
    .ServicesContainer .box {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 2000px) {
    .ServicesContainer .box {
        width: 350px;
        height: 350px;
    }
}


.ServicesContainer:hover .box {
    transform: scale(0.8);
}

.ServicesContainer .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.ServicesContainer .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ServicesContainer .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
    background: linear-gradient(#8B00FF, #030005);
}

.ServicesContainer .box:hover .imgBx:before {
    opacity: 1;
}

.ServicesContainer .box .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.ServicesContainer .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}

.ServicesContainer .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 16px !important;
    font-weight: 800 !important;
    transform: translateY(400px);
    transition-delay: 0.3s;
}

.ServicesContainer .box:hover .content {
    background-color: rgba(3, 0, 5, 0.6);
}
.ServicesContainer .box:hover .content h2 {
    transform: translateY(0px);
}

.ServicesContainer .box .content p {
    color: #fff;
    transition: 0.5s;
    font-weight: 600;
    transform: translateY(840px);
    transition-delay: 0.4s;
}
@media (min-width: 768px) {
    .ServicesContainer .box .content p {
        font-size: 4px !important;
    }
}

@media (min-width: 992px) {
    .ServicesContainer .box .content p {
        font-size: 8px !important;
    }
}

@media (min-width: 1200px) {
    .ServicesContainer .box .content p {
        font-size: 14px !important;
        line-height: 1;
    }
}

@media (min-width: 2000px) {
    .ServicesContainer .box .content p {
        font-size: 24px !important;
    }
}

.ServicesContainer .box:hover .content p {
    transform: translateY(0px);
}

.carousel {
    background-color: rgba(14, 14,14, 0.8);
}

.carousel button.active {
    background-color: #8B00FF;
}

.carousel-item p {
    margin: auto;
    width: 60%;
}

.progress.vertical {
    width: 10px;
    height: 100%;
}

.progress.vertical .progress-bar {
    width: 100%;
    height: 50%;
}

.explication {
    height: 150%;
}

#explicationSteps,
#explicationSteps div {
    height: 100%;
}

#explicationList {
    height: 80%;
}

#explicationList a {
    background-color: #FFF;
}


#explicationList a.active {
    background-color: #8B00FF;
}

.progress.vertical {
    height: 300px;
    width: 30px;
    display: flex;
    align-items: flex-end;
}

.progress.vertical .progress-bar {
    width: 100%;
    transition: height 0.6s ease;
}

#lines-container {
    position: relative;
}

#step-by-step h1 {
    color: #d5d5d5;
    font-weight: 800;
}

@media (min-width: 768px) {
    #step-by-step h1 {
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    #step-by-step h1 {
        font-size: 4em;
    }
}

@media (min-width: 1200px) {
    #step-by-step h1 {
        font-size: 6em;
    }
}

@media (min-width: 2000px) {
    #step-by-step h1 {
        font-size: 8em;
    }
}

#step-by-step h2 {
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 1em;
}

#step-by-step .step-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#step-by-step .step-count:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30em;
    z-index: -1;
    font-family: 'arialic_hollowregular';
    color: #8000ff;
    opacity: 0.3;
}

.step-1:before{
    content: "1";
}

.step-2:before{
    content: "2";
}

.step-3:before{
    content: "3";
}

.step-4:before {
    content: "4";
}

#step-by-step div figure div {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: normal;
    padding: 1em;
    color: #bbbbbb;

}

@media (min-width: 768px) {
    #step-by-step h1 {
        font-size: 2em;
    }

    #step-by-step h2 {
        font-size: 1em;
    }

    #step-by-step div figure div {
        font-size: .8em;
    }
}

@media (min-width: 992px) {
    #step-by-step h1 {
        font-size: 4em;
    }

    #step-by-step h2 {
        font-size: 2em;
    }

    #step-by-step div figure div {
        font-size: 1em;
    }
}

@media (min-width: 1200px) {
    #step-by-step h1 {
        font-size: 6em;
    }

    #step-by-step h2 {
        font-size: 3em;
    }

    #step-by-step div figure div {
        font-size: 1.2em;
    }
}

@media (min-width: 2000px) {
    #step-by-step h1 {
        font-size: 8em;
    }

    #step-by-step h2 {
        font-size: 4em;
    }

    #step-by-step div figure div {
        font-size: 1.5em;
    }
}

.td-figure {
    perspective: 1500px;
}

#step-by-step .row:nth-of-type(even) figure div.reveal {
    background-color: #0e0e0e;
    color: white;
    transform: rotateY(-10deg);
    border-radius: 0.375em;
    transition: .3s;
    box-shadow: rgba(139, 0, 255, 0.3) 25px 25px, rgba(139, 0, 255, 0.2) 50px 50px, rgba(139, 0, 255, 0.1) 75px 75px, rgba(139, 0, 255, 0.05) 100px 100px, rgba(139, 0, 255, 0.05) 125px 125px;
}

#step-by-step .row:nth-of-type(odd) figure div.reveal {
    background-color: #0e0e0e;
    color: white;
    transform: rotateY(10deg);
    border-radius: 0.375em;
    transition: .3s;
    box-shadow: rgba(139, 0, 255, 0.3) -25px 25px, rgba(139, 0, 255, 0.2) -50px 50px, rgba(139, 0, 255, 0.1) -75px 75px, rgba(139, 0, 255, 0.05) -100px 100px, rgba(139, 0, 255, 0.05) -125px 125px;
}

.td-figure div:hover {
    transform: rotate(0) !important;
    box-shadow: none !important;
}

.rect2 {
    background-color: black;
    width: 100%;
    /* Vous pouvez ajuster la largeur */
    height: 20em;
    /* Vous pouvez ajuster la hauteur */
    position: absolute;
    margin: auto;
    z-index: -1;
    /* Centrer le rectangle */
}

.rect2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(212, 212, 212, 0.5) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(212, 212, 212, 0.5) 1px, transparent 1px),
        linear-gradient(to right, transparent, transparent 50%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(to bottom, transparent, transparent 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 100px 100px, 100px 100px, 100% 100%, 100% 100%;

}

.rect2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent, #030005);
}
.newsletter-separator{
    height: 30em;
}
#newsletter .newsletter-form-container {
    height: 20em;
}

#newsletter h1 {
    font-weight: 800;
}

#newsletter input {
    width: 80%;
    font-size: 1.2em;
}
#newsletter label {
    font-size: 2em;
}

#newsletter .btn {
    width: 6em;
    background-color: transparent;
    color: #8B00FF;
    font-size: 2em;
    border: solid #8B00FF;
}

#newsletter .btn:hover {
    background-color: #8B00FF;
    color: #FFF;
    border:none;
}

#footer-navbar {
    position: absolute;
}

footer a:hover {
    color: white !important;
}

/* ABOUT US  */

.aboutus h1 {
    font-size: 3em !important;
    font-weight: 800;
    color: #dadada;
}

.aboutus p {
    font-size: 1.2em !important;
    font-weight: 600;
    color: #dadada;
}
@media (min-width: 1900px) {
    .aboutus p {
        font-size: 1.5em !important;
    }
}


.line_divider {
    height: 1px;
    background-color: grey;
    width: 30%;
}

/* CONTACT */

.contact_form {
    margin-top: 10em;
}

.contact_form .btn {
    background-color: #8B00FF;
    border: none;
}

