{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="navbar-brand mx-5" src="{% static 'home/img/logoNoText.png' %}" width="64px" alt="Logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item align-self-center">
                <select class="form-select">
                    {% for location in locations %}
                        <option value="{{ location.location_id }}">{{ location.name }}</option>
                    {% endfor %}
                </select>
            </li>

            <li class="nav-item mx-5">
                <img class="rounded-circle" src="https://placehold.co/64">
            </li>
        </ul>
        <div class="ms-auto me-3">
            <button class=" btn btn-primary">Mon compte</button>
        </div>

    </div>
</nav>